<div class="container">
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4">
            <div class="main">
                <h4>Welcome to YES Bank </h4>
                <h5>Register Form</h5>

                <br /><br />
                <form [formGroup]="registerForm" (ngSubmit)="register()">
                    <input id="uname" type="text" class="text" formControlName="uname" [(ngModel)]="uname" name="name" placeholder="User Name" />
                     <div *ngIf="(registerForm.get('uname')?.touched || registerForm.get('uname')?.dirty) && registerForm.get('uname')?.errors" class="error">Invalid Username</div> <br />
                    <input id="accnotext" type="text" class="text" formControlName="accno" [(ngModel)]="accno" name="acc"placeholder="Account Number" />
                    <div *ngIf="(registerForm.get('acno')?.touched || registerForm.get('acno')?.dirty) && registerForm.get('acno')?.errors" class="error"> Invalid Account No </div>
                    <br /><br />
                    <input id="pswdtext" type="password" class="text" formControlName="pswd" [(ngModel)]="pswd" name="pass"placeholder="Password" />
                    <div *ngIf="(registerForm.get('pswd')?.touched || registerForm.get('pswd')?.dirty) && registerForm.get('pswd')?.errors" class="error"> Invalid Password</div>
                    <br />
                    <br />

                    <div class="line"></div>
                    <input type="button" value="Register" (click)="register()" class="button button1 butefct" />
                    <br />
                    <br /><br />
                    <a routerLink="">Log In</a>
                </form>
            </div>
        </div>
        <div class="col-4"></div>
    </div>
</div>