<div class="container">
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4">
            <div class="main">
                <h4>Welcome to YES Bank</h4>
                <h5>Register Form</h5>

                <br /><br />
                <form (ngSubmit)="register()">
                    <input id="uname" type="text" class="text" [(ngModel)]="uname" name="name" placeholder="User Name" />

                    <input id="accnotext" type="text" class="text" [(ngModel)]="accno" name="acc"
                        placeholder="Account Number" />
                    <br /><br />
                    <input id="pswdtext" type="password" class="text" [(ngModel)]="pswd" name="pass"
                        placeholder="Password" />
                    <br />
                    <br />

                    <div class="line"></div>
                    <input type="button" value="Register" (click)="register()" class="button button1 butefct" />
                    <br />
                    <br /><br />
                    <a routerLink="">Log In</a>
                </form>
            </div>
        </div>
        <div class="col-4"></div>
    </div>
</div>